

{# <!DOCTYPE html> <html lang="en">
    <head>
        <title>
            Trenda
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            {% if current_user.is_authenticated %}
                <h1><a href="">Trenda</a></h1>
            {% else %}
                <h1><a href="/home">Trenda</a></h1>
                <div>
                    <h4>Programming Language Job Market in real time</h4>
                </div>
            {% endif %}
            <nav>
                {% if current_user.is_authenticated %}
                    <h2>Welcome{{ current_user.username }}</h2>
                    <a href="logout">Log out</a>
                {% else %}
                    <a href="/home">Home</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log in</a>
                {% endif %}
            </nav>
        </header>
        <div>
            {% block content%}



            {% endblock %}
        </div>
        <footer>All rights reserved</footer>
    </body>
</html> #}

{% extends "layout.html" %}
{% block content %}
    <div class="form-container">
        <div class="home mx-auto">
            <h2 class="home-title mb-3 font-weight-normal">
                Welcome to Trenda
            </h2>
            <h5 class="h5 mb-3 font-weight-normal">
                Programming Language Job Market in real time
            </h5>
        </div>
    </div>
{% endblock %}
