<!DOCTYPE html>
<html>
    <head>
        <title>
            Trenda
        </title>
    </head>
    <body>
        <header>
            <h1>Trenda</h1>
            <nav>
                {% if current_user.is_authenticated %}
                    <h2>Welcome{{ current_user.username }}</h2>
                    <a href="logout">Log out</a>
                {% else %}
                    <a href="/home">Home</a>
                    <a href="/about">About</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log in</a>
                {% endif %}
            </nav>
        </header>
        <div>
            {% block content%}



            {% endblock %}
        </div>
        <footer>All rights reserved</footer>
    </body>
</html>