{% extends "layout.html" %}

{% block content%}
<div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3>
        {{ current_user.username }}'s watchlist
    </h3>
    <table class="table">

        <thead>
                <tr>
                    <th>Language</th>
                    <th>Today's Job Postings</th>
                    <th>Net Change</th>
                    <th>% Change</th>
                    <th>1 Month</th>
                    <th>Last Updated</th>
                </tr>

        </thead>
        <tbody>
            {% for my_user_watchlist in my_user_watchlists %}
                <tr>
                    <td>{{my_user_watchlist.language.name}}</td>
                    {% for key, value in language_info.items() %}
                    
                        {% if key == my_user_watchlist.language.name  %}
                        
                        <td>{{language_info[key][0]}}</td>
                        <td>{{language_info[key][1]}}</td>
                        <td>{{language_info[key][2]}}</td>
                        <td>{{language_info[key][3]}}</td>
                        <td>{{language_info[key][4]}}</td>

                        {% endif %}

                    {% endfor %}


                </tr>

            {% endfor %}

        </tbody>


    </table>
    <div>
        <a href="{{ url_for('users.user_languages', id=my_user.id) }}"><button>Edit Watchlist</button></a>
    </div>
    <div>
        <a href="{{ url_for('users.profile', id=my_user.id) }}"><button>Return to profile</button></a>
    </div>
</div>
{% endblock %}

